@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700;800&display=swap');

html {
    scroll-behavior: smooth;
}

#home {
    padding: 0;
}

.icon-social { 
    color:#FFF;
    opacity: 0.8; 
    font-size: 60px;
}

.icon-social:hover {
    opacity: 1;
    color:#FF6600;
    transition-delay: 0.2s;
}

.download-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height:  50px;
    border-radius: 25px;
    background: #FF6600;
    color: #FFF;
    text-decoration: none;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.download-button:hover {
    background: #FFF;
    color: #FF6600;
    border: 2px solid #FF6600;
    text-decoration: none;
}

/* ==ANIMATION BUTTON SCROLL== */
/* ==HOME PAGE== */
@keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
    }
    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

.scroll-button {
    animation: bounce 1s linear 2s infinite alternate;
}




